* {
    margin: 0;
    padding: 0;
}

.Nav-links {
    width: 150px;
    display: block;
    text-decoration: none;
    text-align: left;
    background: #594848;
    font-size: 17px;
    color: white;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    justify-content: stretch;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    
    

}
header {
    flex: 1;
    background-image: url(/css/Images/h_img.jpg);

}
.Logo-container {
    flex: auto;
    margin: auto;
    max-width: 1200px;
}

.Logo-container, .Nav-links, .header {
    flex: auto;
    

}

.Logo-container:hover {
    background-color: turquoise;
    
}
.Nav-links:hover {
    background-color: teal;
    flex: auto;
    text-align: center;

}

.Logo-Image {
    text-align: center;
    
    
}
.Intro {
    text-align: center;
    color: white;
}

.Mouse-icon {
    text-align: center;
}
.container {
    text-align: center;
    text-size-adjust: 16px;
}

.about {
    color: rgb(255, 71, 71);
    text-align: center;
    font-size: 50px;
}

.Services {
    text-align: center;
    background-image: url(/css/Images/s_image.jpg);
    color: white;
    height: 50vh;
    justify-content: center;


}
.what-we-do {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;

}
.image-1 {
    text-align: left;

}
.image-2 {
    text-align: center;
}
.image-3 {
    text-align: right;
    align-content: flex-end;
    
}
.Portfolio {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 50px;
    background-position-y: 0ch;
}
.portfolio:hover {
    background-color: slategrey;
    cursor: pointer;

}
.work.images {

    size: 1px;
}
.Contact {
    background-image: url(/css/Images/c_image.jpg);
    height: 100vh;
    text-align: center;
    color: white;
    text-emphasis: none;

}
.form.group {
    width: 100%;
    font-size: 15px;
    border:whitesmoke;
    padding: auto;
    
}
.status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 1px;
    margin: 0 auto;
    border-radius: 8px;
    
}
.status.success {
    /* color: yellowgreen;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; */
}
#Status.success {
    /* background-color: springgreen; */

}
#Status.Success {
    background-color: rgb(4, 122, 63);
    animation: status 4s ease delay forwads;
    -webkit-animation: status 4s ease delay forwads;
}
/* #status.error {
background-color: red; */
}

@keyframes status{
    0%{
        opacity: 1;
    pointer-events: all;
    }
    90%{
        opacity: 0;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
    
    
}
li {
    list-style: none;
    margin: 10px 30;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
    color: #fff;
    border-radius: 50%;
    transition: 5s;
    background-color: none;
    
}
li:hover {
    color: greenyellow;
    border-color: black;
    transition: .5s;
}
.footer {
text-align: center;
font-size: x-large;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: honeydew;
}
